---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel.queue
  namespace: tool-wikicrowd
  labels:
    name: laravel.queue
    # The toolforge=tool label will cause $HOME and other paths to be mounted from Toolforge
    toolforge: tool
spec:
  replicas: 1
  selector:
    matchLabels:
      name: laravel.queue
      toolforge: tool
  template:
    metadata:
      labels:
        name: laravel.queue
        toolforge: tool
    spec:
      containers:
        - name: queue
          image: docker-registry.tools.wmflabs.org/toolforge-php74-sssd-base:latest
          command: [ "php", "/data/project/wikicrowd/src/artisan", "queue:work", "--queue=high,default,low", "--tries=3" ]
          workingDir: /data/project/wikicrowd/src
          env:
            - name: HOME
              value: /data/project/wikicrowd
          imagePullPolicy: IfNotPresent
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel.schedule
  namespace: tool-wikicrowd
  labels:
    name: laravel.schedule
    # The toolforge=tool label will cause $HOME and other paths to be mounted from Toolforge
    toolforge: tool
spec:
  replicas: 1
  selector:
    matchLabels:
      name: laravel.schedule
      toolforge: tool
  template:
    metadata:
      labels:
        name: laravel.schedule
        toolforge: tool
    spec:
      containers:
        - name: schedule
          image: docker-registry.tools.wmflabs.org/toolforge-php74-sssd-base:latest
          command: [ "php", "/data/project/wikicrowd/src/artisan", "schedule:work" ]
          workingDir: /data/project/wikicrowd/src
          env:
            - name: HOME
              value: /data/project/wikicrowd
          imagePullPolicy: IfNotPresent
